<div class="body">
  <div class="cod-container">
    <div class="form-header">
      <img src="./assets/images/LOGO CHATBOT 3.ico" width="100">
      <h1>E comerce<span>Wanna</span></h1>
    </div>
    <div class="form-content">
      <form [formGroup]="formGroup" class="cod-form">
        <div class="form-title">
          <h3>Regístrate Gratis</h3>
        </div>
        <div class="input-group">
          <input type="text" class="form-input" placeholder="Ingrese su nombre" name="form-input"
            formControlName="name">
          <label class="label" for="reg-user"></label>
        </div>
        <div class="input-group">
          <input type="email" class="form-input" placeholder="Correo" placeholder="Ingrese su correo" name="form-input"
            id="reg-user" formControlName="email">
          <label class="label" for="reg-user"></label>
        </div>
        <div class="input-group">
          <input type="password" class="form-input" placeholder="Ingrese su contraseña" name="form-input" id="reg-pass"
            formControlName="password">
          <label class="label" for="reg-pass"></label>
        </div>
        <div class="input-group">
          <button class="btn btn-primary btn-block m-2" value="Registrate" (click)="registrarse()" [disabled]="!formGroup.valid">Registrar</button>
          <label>Ya tienes cuenta? <a routerLink="/login">Iniciar Sesión</a></label>
        </div>
      </form>
    </div>
  </div>
</div>