<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal WannaChat</title>

</head>

<body>
  <div class="container__slider">

    <div class="container">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">

      <div class="cards">
        <label class="card" for="item-1" id="selector-1">
          <img src="./assets/images/shoes4.png">
        </label>
        <label class="card" for="item-2" id="selector-2">
          <img src="./assets/images/shoes7.png">
        </label>
        <label class="card" for="item-3" id="selector-3">
          <img src="./assets/images/shoes8.png">
        </label>
      </div>
    </div>
  </div>
  <div class="slider-frame">
    <ul>
      <li><img src="./assets/images/loging_bg.png" alt=""></li>
      <li><img src="./assets/images/loging_v2.png" alt=""></li>
      <li><img src="./assets/images/loging_v3.png" alt=""></li>
      <li><img src="./assets/images/loging_v4.png" alt=""></li>
    </ul>
  </div>
</body>

</html>