<div class="body">
  <div class="cod-container">
    <div class="form-header">
      <img src="./assets/images/LOGO CHATBOT 3.ico" width="100">
      <h1>E comerce<span>Wanna</span></h1>
    </div>
    <div class="form-content">
      <form [formGroup]="formGroup" class="cod-form">
        <div class="form-title">
          <h3>Iniciar Sesión</h3>
        </div>
        <div class="input-group">
          <label class="label" for="user"></label>
          <input type="text" class="form-input" placeholder="Usuario" name="form-input" id="user"
            formControlName="email">
        </div>
        <div class="input-group">
          <label class="label" for="pass"></label>
          <input type="password" class="form-input" placeholder="Contraseña" name="form-input" id="pass"
            formControlName="password">
        </div>
        <div class="input-group">
          <button class="btn btn-primary btn-block m-2" (click)="ingresar()" [disabled]="!formGroup.valid">Ingresar</button>
        </div>
        <label>Aun no tienes cuenta? <a routerLink="/register">Registrarse</a></label>
      </form>
    </div>
  </div>
</div>